# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.js]
indent_style = space
indent_size = 2
quote_type = single
curly_bracket_next_line = false
spaces_around_operators = true
space_after_control_statements = true
space_after_anonymous_functions = true
spaces_in_brackets = false

[*.{scss,css,json,html}]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 4
insert_final_newline = false
trim_trailing_whitespace = false
