[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "bundle/--force"]
	path = bundle/--force
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "bundle/bs3-sublime-plugin"]
	path = bundle/bs3-sublime-plugin
	url = https://github.com/JasonMortonNZ/bs3-sublime-plugin
[submodule "bundle/badwolf"]
	path = bundle/badwolf
	url = https://github.com/sjl/badwolf
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "bundle/javascript-libraries-syntax.vim"]
	path = bundle/javascript-libraries-syntax.vim
	url = https://github.com/othree/javascript-libraries-syntax.vim
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "bundle/tern_for_vim"]
	path = bundle/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils
[submodule "bundle/vim-css3-syntax"]
	path = bundle/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax
[submodule "bundle/vim-angular2-snippets"]
	path = bundle/vim-angular2-snippets
	url = https://github.com/magarcia/vim-angular2-snippets
[submodule "bundle/vim-jsbeautify"]
	path = bundle/vim-jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/tsuquyomi"]
	path = bundle/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/vim-rake"]
	path = bundle/vim-rake
	url = git://github.com/tpope/vim-rake.git
[submodule "bundle/vim-projectionist"]
	path = bundle/vim-projectionist
	url = git://github.com/tpope/vim-projectionist.git
[submodule "bundle/vim-tags"]
	path = bundle/vim-tags
	url = https://github.com/szw/vim-tags.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = https://github.com/tpope/vim-git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-hybrid"]
	path = bundle/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid
[submodule "bundle/editorconfig-vim"]
	path = bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "bundle/vim-better-whitespace"]
	path = bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
