[submodule "typescript-vim"]
	path = typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "vim-easymotion"]
	path = vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "vim-surround"]
	path = vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim-node"]
	path = vim-node
	url = https://github.com/moll/vim-node
[submodule "incsearch.vim"]
	path = incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim
[submodule "incsearch-fuzzy.vim"]
	path = incsearch-fuzzy.vim
	url = https://github.com/haya14busa/incsearch-fuzzy.vim
[submodule "auto-pairs"]
	path = auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "bufexplorer"]
	path = bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "terminus"]
	path = terminus
	url = https://github.com/wincent/terminus
[submodule "vim-markdown"]
	path = vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
